/*
 Theme Name:   Pierian Child
 Theme URI:    https://example.com/pierian-child
 Description:  Child theme of Pierian
 Author:       Your Name
 Author URI:   https://example.com
 Template:     pierian
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  pierian-child
*/

/*
 * Control the hover stylings of outline block style.
 * Unnecessary once block styles are configurable via theme.json
 * https://github.com/WordPress/gutenberg/issues/42794
 */
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background):hover {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--background);
    border-color: var(--wp--preset--color--secondary);
}

/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
    text-decoration-thickness: .0625em !important;
    text-underline-offset: .15em;
}

p {
    text-indent: 2rem;
}

h1 {
    margin-bottom: 2rem !important;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

hr.wp-block-separator {
    display: block;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid black;
}

.youtube-embed {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.youtube-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.wp-block-page-list .wp-block-pages-list__item {
    margin-top: 0.5rem;
}

.wp-block-page-list .wp-block-pages-list__item:last-child {
    margin-top: 4rem;
}

.is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 100%;
}

.wp-block-image.size-full,
.wp-block-image.size-full img {
    width: 100%;
    height: auto;
}